@import '../../main';

.wrapper {
  position: absolute;
  top: $btn-top;
  left: $btn-side;
  z-index: 10;

  transition: all 0.3s linear;

  &.homeWrapper {
    top: calc(30% - 1.25rem);
    left: calc(50% - 10rem);
  }
}

.select {
  height: $btn-height;
  width: 20rem;
  font-size: 1.1rem;
  outline: none;
  cursor: pointer;
}
