.wrapper {
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 10;

  transition: all 0.3s linear;

  &.homeWrapper {
    top: calc(30% - 1.25rem);
    left: calc(50% - 10rem);
  }
}

.select {
  height: 2.5rem;
  width: 20rem;
  font-size: 1.1rem;
  outline: none;
}
